*{
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    background-color:#376b8c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-texto-header {
    color: #FFFFFF;
    font-size: 24px;
}


aside {
    grid-area: aside;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formato-titulo-lista {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: bolder;
    color: #232355;
}

.alineacion-lista {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap:5px;
    font-size: 12px;
}

.formato-cantidad {
    color: #aab8c5;
}

.formato-genero {
    color: #40407d;
}

main {
    grid-area: main;
    background-color: aqua;
}

footer {
    grid-area: footer;
    background-color: brown;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 4rem 6fr 2rem;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}